.search-bar-container {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 0.9px solid white;
  padding: 4px;
  min-width: 300px !important;
  z-index: 5;
}

.search-bar-container input {
  flex: 1;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
  min-width: 250px;
  font-size: 0.85rem;
}

.search-bar-container input::placeholder {
  color: #dedbdbbe;
}

.search-bar-container button {
  background: rgba(35, 123, 207, 0.8);
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 0.85rem;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2px;
}

.search-bar-container button:hover {
  background: rgba(50, 150, 255, 0.9);
}

/* Dropdown suggestions */
.dropdown-suggestions {
  position: absolute;
  top: 32.2px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-top: none;
  border-radius: 0 0 8px 8px;
  backdrop-filter: blur(4px);
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  min-width: 300px !important;
  overflow-y: auto;
  color: white;
  z-index: 10000;
}

.dropdown-suggestions li {
  padding: 6px 8px;
  cursor: pointer;
  font-size: 0.85rem;
}

.dropdown-suggestions li:hover {
  background: rgba(255, 255, 255, 0.15);
}

